* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.container1-a {
    background-color: blue;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1-b {
    text-align: center;
    color: white;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    
}

.container2-a {
    display: flex;
    margin: 20px;
    padding: 10px;
    grid-gap: 10px;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}